/* Add your custom styles here */
.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 300px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.upload .uploaded-row {
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
}

.upload .uploaded-content {
    display: flex;
    align-items: center;
}